*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: linear-gradient(to left  top,red,violet,orange,indigo,yellow,blue,green,green,blue,yellow,indigo,orange,violet,red,violet,orange,indigo,yellow,blue,green,green,blue,yellow,indigo,orange,violet,red);
}

ul{
	position: absolute;
	right: 5%;
	top: 5%;
}

ul li{
	list-style: none;
	display: inline-block;
	margin-right: 50px;
}

ul li a{
	text-decoration: none;
	font-size: 35px;
	font-family: sans-serif;
	font-weight: 700;
	color: white;
}


img{
	width: 40vh;
	height: 60vh;
	position: absolute;
}

.container{

	width: 40vh;
	height: 75vh;
	position: relative;
	margin-top: 9%;
	margin-left: 38.75%;
	perspective: 100%;
	transform-style: preserve-3d;
	animation: ror 20s linear infinite;
}

@keyframes ror{
		50%{
			transform: rotateX(10deg);
		}
		80%{
			transform: rotateX(-10deg);
		}
	}

.images{
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotate 80s linear infinite;
}

@keyframes rotate{
		from{
			transform: rotateY(0deg);
		}
		to{
			transform: rotateY(360deg);
		}
	}


img:nth-child(1){
		transform: rotateY(40deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(2){
		transform: rotateY(80deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(3){
		transform: rotateY(120deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(4){
		transform: rotateY(160deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(5){
		transform: rotateY(200deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(6){
		transform: rotateY(240deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(7){
		transform: rotateY(280deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(8){
		transform: rotateY(320deg) translateZ(400px);
		border-radius: 60px;
	}
	img:nth-child(9){
		transform: rotateY(360deg) translateZ(400px);
		border-radius: 60px;
	}

a:hover{
	color: skyblue;
}

h1{
	opacity: 6%;
}

h1:hover{
	opacity: 100%;
}

.images a{

}